@media screen and (max-width: 1300px) {
    .container {
        max-width: 1100px;
    }

    .header {
        padding: 20px 10px;
        width: 100%;
    }

    .nav-bar-item {
        margin: 0 30px;
    }

    .logo {
        margin-right: 90px;
    }

    .projects-content {
        width: 370px;
    }

}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 1000px;
    }

    .header {
        padding: 20px ;
        width: 100%;
    }

    .nav-bar-item {
        margin: 0 20px;
    }
    
    .logo {
        margin-right: 0px;
    }

    .projects-content {
        width: 350px;
    }

    .project-examples {
        width: 500px;
    }

    .project-examples img {
        width: 500px;
        height: 350px;
    }

    .slick-prev {
        left: -35px;
    }

    .slick-next {
        right: -25px;
    }
}

@media screen and (max-width: 1100px) {
    .container {
        max-width: 900px;
    }

    .about-us {
        margin: 110px 0 0 0;
        max-width: 850px;
    }

    .projects-content {
        width: 300px;
        height: 250px;
    }

    .projects-content-item-title {
        margin-bottom: 15px;
        font-size: 24px;
    }

    .projects-content-item-description {
        font-size: 18px;
    }

    .project-examples {
        width: 450px;
    }

    .project-examples img {
        width: 450px;
        height: 300px;
    }
}

@media screen and (max-width: 980px) {
    .container {
        max-width: 850px;
    }

    .main {
        padding: 20px;
        max-width: 475px;
        margin-top: -50px;
        margin-left: 0px;
        font-size: 47px;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        text-align: left;
        display: flex;
        flex-direction: column;
    }

    .work {
        margin-bottom: 10px;
    }

    .where {
        margin: 0 0 20px 0;
        font-size: 35px;
    }

    .where span {
        font-family: "Muller Bold", sans-serif;
    }

    .why {
        font-size: 30px;
        font-family: Muller, sans-serif;
    }

    .about-us {
        margin: 110px auto 0 auto;
        max-width: 730px;
    }

    .about-title {
        font-size: 44px;
        margin-bottom: 25px;
        text-align: center;
    }

    .about-table-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 15px;
    }

    .about-table-item-text {
        font-size: 20px;
        text-align: left;
    }

    .projects-title {
        font-size: 44px;
    }

    .slick-prev {
        display: none;
    }

    .slick-next {
        display: none;
    }

    .slick-prev:before {
       display: none;
    }

    .slick-next:before {
        display: none;
    }


    .contacts .container {
        max-width: 750px;
    }

    .contacts-title {
        font-size: 38px;
    }

    .contacts-end-title {
        font-size: 30px;
    }

    .contacts-content-item {
        font-size: 29px;
    }
}

@media screen and (max-width: 920px){
    .container {
        max-width: 800px;
        width: 90%;
    }

    .not-burger {
        display: none;
    }

    .burger {
        display: block;
    }

    .nav-bar-item:nth-child(3),
    .nav-bar-item:nth-child(4),
    .nav-bar-item:nth-child(5){
        display: none;
    }

    .header {
        padding: 5px 0px 5px 0px;
    }

    .header .nav-bar {
        align-items: center;
        width: 100%;
        margin: 0 65px;
        display: flex;
        justify-content: space-between;
    }

    .logo {
        font-size: 34px;
    }

    .project {
        flex-direction: column;
        margin-bottom: 50px;
    }

    .projects-title {
        margin-bottom: 25px;
    }

    .projects-content {
        margin: 0 auto 15px auto;
        width: 630px;
        height: auto;
    }

    .projects-content-item-text {
        text-align: justify;
    }
    .projects-content-item-title {
        text-align: center;
    }

    .project-examples {
        width: 680px;
    }

    .project-examples img {
        width: 680px;
        height: 300px;
    }
}

@media screen and (max-width: 765px) {
    .container {
        max-width: 720px;
        width: 90%;
    }

    .main {
       margin:  -75px auto 20px auto;
    }

    .about-title {
        font-size: 36px;
    }

    .about-us {
        max-width: 590px;

    }

    .about-table-item {
        flex-direction: column;
        margin-bottom: 25px;
    }

    .about-table-item-img {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;
    }

    .about-us-adaptive {
        display: block;
    }

    .about-table-item-text {
        text-align: center;
    }

    .about-table-item-text span {
        display: none;
    }
}

@media screen and (max-width: 740px){
    .projects-content {
        width: 580px;
    }

    .project-examples {
        width: 630px;
    }

    .project-examples img {
        width: 630px;
        height: 300px;
    }

    .contacts-content {
        flex-direction: column;
    }

    .contacts-end-title {
        margin-bottom: 15px;
    }

    .contacts-content-item {
        margin-bottom: 10px;
    }

}

@media screen and (max-width: 690px){
    .projects-content {
        width: 510px;
    }

    .project {
        width: 550px;
    }

    .project-examples {
        width: 560px;
    }

    .project-examples img {
        width: 560px;
        height: 300px;
    }
}

@media screen and(max-width: 600px){
    .projects-content {
        width: 450px;
    }

    .project {
        width: 490px;
        margin: 0 auto 50px auto;
    }

    .project-examples {
        width: 490px;
    }

    .project-examples img {
        width: 490px;
        height: 280px;
    }
}

@media screen and (max-width: 580px) {

    .main {
        font-size: 40px;
    }
    .where {
        font-size: 35px;
    }
    .why {
        font-size: 32px;
    }

    .projects-content {
        width: 410px;
    }

    .project {
        width: 460px;
    }

    .project-examples {
        width: 460px;
    }

    .project-examples img {
        width: 460px;
        height: 250px;
    }
}

@media screen and(max-width: 520px){
    .main {
        text-align: center;
        width: 480px;
    }

    .nav-bar {
        margin: 0 30px;
    }

}

@media screen and(max-width: 501px) {
    .projects-content {
        width: 390px;
    }

    .project {
        width: 440px;
    }

    .project-examples {
        width: 440px;
    }

    .project-examples img {
        width: 440px;
        height: 230px;
    }
}

@media screen and(max-width: 450px){
    .projects-content {
        width: 360px;
    }

    .project {
        width: 410px;
    }

    .project-examples {
        width: 410px;
    }

    .project-examples img {
        width: 410px;
        height: 210px;
    }
}