@font-face {
    font-family: Neuman;
    src: url("assets/fonts/neuman.otf");
}

@font-face {
    font-family: Muller;
    src: url("assets/fonts/MullerRegular.otf");
}

@font-face {
    font-family: Muller Bold;
    src: url("assets/fonts/MullerBold.otf");
}

@font-face {
    font-family: Museo700;
    src: url("assets/fonts/Museo700.ttf");
}

@font-face {
    font-family: Museo300;
    src: url("assets/fonts/Museo300.ttf");
}

@font-face {
    font-family: Museo500;
    src: url("assets/fonts/Museo500.ttf");
}

@font-face {
    font-family: Museo100;
    src: url("assets/fonts/Museo100.ttf");
}

* {
    font-family: Museo300, sans-serif;
    margin: 0 auto;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    /*background-image: url('assets/image/background1.jpg');*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    z-index: -1;
    /*background-color: rgba(209, 209, 209, 0.48);*/
    /*background: linear-gradient(90deg, rgba(255,219,132,1) 0%, rgba(219,178,50,1) 50%, rgba(208,154,41,1) 100%);*/
}

.background {
    background: rgb(200, 148, 40);
    background: linear-gradient(270deg, rgba(200, 148, 40, 1) 0%, rgba(204, 153, 41, 1) 3%, rgba(202, 155, 39, 1) 15%, rgba(208, 161, 44, 1) 25%, rgba(213, 166, 47, 1) 50%, rgba(214, 170, 49, 1) 60%, rgba(216, 172, 49, 1) 70%, rgba(215, 174, 50, 1) 80%, rgba(215, 174, 50, 1) 90%, rgba(212, 170, 52, 1) 100%);
}

.container {
    z-index: 1;
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
}

.header {
    padding: 20px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgb(236, 236, 236);
    z-index: 5;
}

.header .nav-bar {
    margin: 0 auto;
}

.logo {
    font-size: 22px;
    margin-right: 120px;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.nav-bar-item {
    margin: 0 40px;
    color: white;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    transition: all ease-in-out 0.2s;
    border-bottom: 1px solid transparent;
}

.nav-bar-item a {
    transition: all ease-in-out 0.2s;
    border-bottom: 1px solid transparent;
}

.nav-bar-item a:hover {
    transform: scale(1.05);
    border-bottom: 1px solid black;
}

.nav-bar-item a {
    color: #000000;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    font-family: Museo500, sans-serif;
}

.main-page {
    padding: 280px 0 60px 0;
    background-image: url('assets/image/backround.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}


.main {
    padding: 20px;
    max-width: 550px;
    margin-top: -50px;
    margin-left: 0px;
    font-size: 52px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.work {
    margin-bottom: 10px;
    font-family: "Muller Bold", sans-serif;
}

.where {
    margin: 0 0 20px 0;
    font-size: 40px;
    font-family: "Museo Sans Cyrl 500", sans-serif;
}

.where span {
    font-family: "Muller Bold", sans-serif;
}

.why {
    font-size: 33px;
    font-family: Muller, sans-serif;
}

.about-us {
    margin: 150px 0 0 0;
    max-width: 1070px;
    /*background: linear-gradient(90deg, rgb(217 181 56) 0%, rgba(219,178,50,1) 50%, rgb(205 154 40) 100%););*/
}

.about-title {
    font-family: "Museo Sans Cyrl 700", sans-serif;
    font-size: 48px;
    margin-bottom: 25px;
}

.about-table-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
}

.about-table-item-text {
    line-height: 25px;
    font-size: 20px;
    margin: 0;
    text-align: left;
    font-family: Muller, sans-serif;
    color: rgb(22, 22, 22);
}

.about-table-item-text span {
    color: rgb(0, 0, 0);
    font-family: Muller Bold, sans-serif;
}

.about-table-item-img {
    margin: 0 15px 0 0;
}

.about-table-item-img img {
    height: 40px;
    width: 40px;
}

.projects {
    border-top: 1px solid rgba(128, 128, 128, 0.2);
    margin-top: -15px;
    padding-top: 40px;
    padding-bottom: 1px;
}

.project {

    margin-bottom: 75px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.project-examples {
    width: 600px;
}

.project-examples img {
    border-radius: 15px;
    width: 600px;
    height: 350px;
}

.projects-title {
    text-align: center;
    font-family: "Muller Bold", sans-serif;
    font-size: 46px;
    margin-bottom: 50px;
}

.projects-content {
    background: #efefef;
    padding: 25px;
    border-radius: 15px;
    margin: 0 18px 0 0;
    width: 450px;
    height: 300px;
}

.projects-content-item-title {
    margin-bottom: 15px;
    font-family: "Museo Sans Cyrl 500", sans-serif;
    font-size: 28px;
}

.projects-content-item-description {
    font-size: 22px;
}

.slick-arrow:before {
    font-size: 30px;
    color: black;
}

.slick-prev {
    left: -35px;
}

.slick-next {
    right: -25px;
}

.slick-slide {
    border-radius: 15px;

}

.contacts {
    background-color: rgb(255 220 117 / 61%);
    padding: 50px 0px;
}

.contacts-title {
    text-align: center;
    font-family: "Museo Sans Cyrl 700", sans-serif;
    font-size: 42px;
}

.contacts-end-title {
    text-align: center;
    font-family: "Museo Sans Cyrl 500", sans-serif;
    font-size: 34px;
    margin-bottom: 30px;
}

.contacts-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: "Museo Sans Cyrl 500", sans-serif;
}

.contacts-content-item {
    font-size: 29px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contacts-content-item span {
    border-bottom: 1px solid black;
}

.contacts-content-item img {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    transition: all ease-in-out 0.2s;
}

.contacts-content-item img:hover {
    transform: scale(1.15);
}

.footer {
    padding: 20px 0;
    border-top: 1px solid rgba(128, 128, 128, 0.11);
}

.footer .nav-bar {
    margin: 30px 0 30px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.38);
}

.footer .logo {
    font-size: 22px;
    margin: 0 auto;
}

.footer .nav-bar-item a {
    color: rgba(0, 0, 0, 0.38);
}

.footer .nav-bar-item a:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.38);;
}

